.element__delete-button {
  background-image: url(../../../images/delete-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 19px;
  background-color: transparent;
  border: none;
  align-self: center;
  padding: 0;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.2s;
  position: absolute;
  right: 20px;
  top: 20px;
  visibility: hidden;
}

.element__delete-button:hover {
  opacity: 50%;
}